/* The sidebar menu */

.leftnav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: absolute; /* Absolute Sidebar (The element is positioned relative to its first positioned (not static) ancestor element) */
    z-index: 1; /*Stay on top */
    background-color: #006a4e; /* Green */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 25px 10px;
    color: lightgray;
    border-radius: 10px;
    transition: 0.25s;
}

/* The navigation menu links */
.leftnav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.leftnav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media (max-height: 450px) {
    .leftnav {
        padding-top: 15px;
    }

    .leftnav a {
        font-size: 14px;
    }
}
@media (max-width: 1200px) {
    .leftnav {
        width: 150px;
        padding: 25px 5px;
    }
    .leftnav a {
        font-size: 14px;
    }
    .main {
        margin-left: 150px;
    }
}

@media (max-width: 1000px) {
    .leftnav {
        width: 0;
        padding: 0;
    }

    .leftnav a { font-size: 14px; }

    .main { margin-left: 0px; }
}
/* Colors */
:root {
    --red: #bf0000;
    --orange: #f6630d;
    --yellow: #ffc114;
    --green: #00843b;
    --light-green: #00843b;
    --dark-green: #456F24;
    --blue: #0069af;
    --purple: #ab73d5;
    --pink: #fe9ec5;
    --grey: #e6e6e6;
    --light-grey: #f4f4f4;
    --dark-grey: #3d3d3d;
    --m-green: #467839;
    --m-blue: #295F97;
}

#check-the-css-file {
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--dark-grey);
   /* border-style: dotted;*/
    margin: 0 5vw 0 5vw;
    overflow: hidden auto;
    padding: 0;
}

.color-div {
    margin: 0;
    color: black;
    border-style: solid;
    border-color: darkgreen;
    border-width: thin;
}
.color-div:hover {
    filter: brightness(90%);
    transition: .3s;
    text-decoration: underline;
}

.color-div a {
    color: black;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

td a {
    display: block;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.flex-container.column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-container.row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-container.row.border {
    border: 2px solid black;
    margin: 10px 0px 10px 0px;
}

.column {
    flex: 1;
}

/*Timesheet.cshtml*/
label {
    font-weight: bold;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

#bottom-sticky {
    background-color: white;
    opacity: 0.7;
}

#bottom-sticky input, .aToInput {
    margin: 5px;
}

#bottom-sticky label {
    align-self: center;
}

#bottom-sticky:hover {
    opacity: 1;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
}

.container .overlay:hover {
    opacity: 1;
}

.textoverlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.leftMargin4px {
    margin-left: 4px;
}